.headers {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}


.conteiner_headers, .conteiner_login_headers {
    background: #54A3FF;
    /* position: fixed;
    top: 0;
    bottom: 0; */
    position: fixed;
    top: 0;

    z-index: 5;

    width: 100%;

}

.conteiner_login_headers {
    background: white;
}


.navbar_allSing, .navbar_allSing_login {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
}

.navbar_allSing_login {
    color: black;
}

.navbar_enter {
    margin-right: 40px;
    cursor: pointer;

    /* 28px */
}

.title, .title_login {
    color: #FFF;
    font-family: MuseoModerno;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.title_login {
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.navbar_enter {}

.sing {}

.navbar_language {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
}